@using NakkeNet.Models
@model NakkeNet.ViewModels.CreateEditUserViewModel

<div class="blockcenter gray-round">

    <div class="form-group">
        @Html.LabelFor(m => m.User.Firstname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(a => a.User.Firstname, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.User.Lastname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(a => a.User.Lastname, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.User.MobilePhone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(a => a.User.MobilePhone, new { @class = "form-control" })
        </div>
    </div>
</div>

